* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: #fff;
    display: block;
    position: fixed;
    height: 5.4rem;
    top: 0;
    width: 100%;
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid #dbdbdb;
}

.nav__search input {
    height: 2.8rem;
}

.nav__search input::placeholder {
    text-align: center;
}

.nav__search--icon {
    position: absolute;
    display: flex;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav li {
    padding-left: 1em;
    font-size: 2rem;
}

.container {
    background-color: #fafafa;
    margin-top: 5.4rem;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 280px);
    justify-content: center;
}

.profile-picture {
    grid-column: 1 / span 1;
    justify-self: center;
}

.profile-picture img {
    border-radius: 50%;
}

.profile-details {
    grid-column: 2 / 4;
    justify-items: start;
    text-align: left;
}

.profile-header span {
    padding-right: 1em;
}
.profile-header .profile-header__username {
    font-size: 2.8rem;
    font-weight: 300;
}

.profile-header input {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 5px 9px;
}

.profile-stats {
    padding: 1em 0;
    font-weight: 300;
    
}

.profile-stats .number {
    font-weight: 700;
}

.profile-description .user-name {
    font-weight: 700;
}

.profile-description .description {
    padding-top: 0.5em;
    font-weight: 300;
}